a {
    color: #0056b3;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #7952b3;
    text-decoration: none;
    cursor: pointer;
}

.navbar-brand{
    padding-top: 4px;
    padding-bottom: 6px;
}

.thead {
    font-size: 8px;
    font-family: '微软雅黑', Times, serif;
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand {
    height: 40px;
}

.file-select {
    height: 38px;
}
/* .bd-navbar{
    border-color:#7952b3;
    -moz-box-shadow:0px 5px 7px rgba(121,82,179,.25); 
    -webkit-box-shadow:0px 5px 7px rgba(121,82,179,.25); 
    box-shadow:0px 5px 7px rgba(121,82,179,.25);
} */
#tool-bar-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

#search-input:focus {
    border-color: white;
    box-shadow: 0 0 0 3px rgba(252, 252, 252, 0.24)
}

/* .form-label-group > input:focus{
    border-color:#7952b3;box-shadow:0 0 0 3px rgba(121,82,179,.25)
  } */

.text-theme{
    /* color: #7952b3; */
    color: black;
    font-weight: bold;
}

.text-theme:hover{
    color: goldenrod;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}
