<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">

    {% block styles %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/docsearch.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fileinput.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/docs.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/solid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fileinput.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-table.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.validate.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/fontawesome.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/solid.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/fileinput.js') }}"></script>
    <script src="{{ url_for('static',filename='js/theme.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-table.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-select.js') }}"></script>

    {% endblock %}

    <title>{{ title }} - Control Board</title>
    {% endblock head%}

    {% block nav %}

    {% endblock nav %}

</head>

<body>
    <div class="container fixed-top col-md-4">
        {% block flash %}

        {% endblock flash %}
    </div>

    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>

    <!-- Page content -->
    {% block content %}{% endblock %}

    {% block footer %}{% endblock footer %}


</body>

</html>