{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<style>
    .thead {
        font-size: 8px;
        font-family: 'Times New Roman', Times, serif;
    }

    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }

    .file-select {
        height: 38px;
    }
</style>
{% endblock styles %}



{% block flash %}
{% for message in get_flashed_messages() %}
{% if "成功" in message  %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    {{ main_form.all_task_switch.data }}
</div>
{% endif %}
{% endfor %}
{% endblock flash %}

{% block content %}
<header class="navbar navbar-expand-md navbar-dark bd-navbar">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-info"> -->
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
            <span><img src="../static/images/title-logo.png" alt="" height="40">
                <label style="color: white; font-weight: bold"> 定制化控制业务工作台</label>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">

                </li>
                <li class="nav-item">

                </li>
            </ul>
            <!-- <div class="container">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div> -->
            <form class="form-inline my-3 my-lg-0">
                <div class="dropdown">
                    <button class="btn dropdown-toggle btn-bd-download" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.realname }}
                    </button>
                    <div class="dropdown-menu  dropdown-menu-left" aria-labelledby="dropdownMenu2"
                        style="min-width: 100%">
                        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#ProfileModal">
                            <span><i class="fas fa-user" style="color: gray"></i> 个人信息</span>
                        </button>
                        <a class="dropdown-item" href="{{ url_for('auth.reset') }}">
                            <span><i class="fas fa-lock" style="color: gray"></i> 修改密码</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                            <span><i class="fas fa-sign-out-alt" style="color: gray"></i> 注销</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>

<!-- Profile Modal -->
<div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">个人信息 - {{ user.realname }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">总任务数:</label>
                        <input type="text" class="form-control" id="recipient-name"
                            value="{{ user_tasks | list | length }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">用户名：</label>
                        <input type="text" class="form-control" id="recipient-name" value="{{ user.username }}"
                            disabled>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">职位：</label>
                        <input type="text" class="form-control" id="recipient-name" value="{{ user.role }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">电子邮箱：</label>
                        <input type="text" class="form-control" id="recipient-name" value="{{ user.email }}" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<!-- 新建任务 -->
<div class="container-fluid">
    <form class="bd-search d-flex border-bottom-0 align-items-center">
        <button class="btn btn-bd-primary col-auto" type="button" data-toggle="modal"
            data-target="#newtaskmodel">新建任务</button>
        <div class="col-auto"></div>
        <input type="search" class="form-control col" id="search-input" placeholder="查询..." aria-label="Search for..."
            autocomplete="off" data-docs-version="4.3">
        <div class="col-auto"></div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="view_switch" onchange="table_view_switch()">
            <!-- {{ main_form.all_task_switch(type="checkbox", class="custom-control-input",id="customSwitch1") }} -->
            <label class="custom-control-label" for="view_switch">显示所有任务</label>
            <script>
                function table_view_switch() {
                    var view_switch = document.getElementById("view_switch");
                    var table_all_view = document.getElementById("table_all_view")
                    var table_user_view = document.getElementById("table_user_view")
                    if (view_switch.checked) {
                        table_all_view.style.display = "block";
                        table_user_view.style.display = "none";
                    }
                    else {
                        table_all_view.style.display = "none";
                        table_user_view.style.display = "block";
                    }
                }      
            </script>
        </div>
    </form>
</div>

<!-- NewTaskModal -->
<div class="modal fade" id="newtaskmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" onshow="symbol_input_switch()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新建任务</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="POST" enctype="multipart/form-data">
                {{ new_task_form.csrf_token }}
                {{ new_task_form.hidden_tag() }}
                <div class="modal-body">
                    <div class="form-group-lg">
                        <span>
                            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-bd-primary btn-sm">
                                    任务名
                                </label>
                            </div>
                        </span>
                        <input type="text" class="form-control" id="recipient-name">
                        {{ new_task_form.taskname(class="form-control", type="text", id="recipient-name") }}
                    </div>
                    <div class="form-group-lg" style="padding-top: 10px">
                        <span>
                            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-bd-primary btn-sm">
                                    机组模型
                                </label>
                            </div>
                        </span>
                        <div id="bladed-file-input">
                            <div class="file-loading">
                                <!-- <input id="input-bladed" name="input-bladed" type="file"> -->
                                {{ new_task_form.f_bladed(id="input-bladed", type="file") }}
                            </div>
                        </div>
                        <div class="invalid-feedback" id="bladed-file-errors"></div>
                        {% for error in new_task_form.f_bladed.errors %}            
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                        <script>
                            $(document).ready(function () {
                                $("#input-bladed").fileinput({
                                    showPreview: false,
                                    showUpload: false,
                                    elErrorContainer: '#bladed-file-errors',
                                    // allowedFileExtensions: ["$pj", "$prj", "_pj", "_prj"],
                                    //uploadUrl: '/site/file-upload-single'
                                });
                            });
                        </script>
                    </div>
                    <div class="form-group-lg" style="padding-top: 10px">
                        <span>
                            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-bd-primary btn-sm">
                                    Symbol表
                                </label>
                                <label class="btn btn-outline-primary btn-sm active" id="symbol-from-templ"
                                    onclick="active_symbol_option_sever()">
                                    <input type="radio" name="options" id="symbol-option-sever" autocomplete="off"
                                        checked onchange="symbol_input_switch()">
                                    从模板
                                </label>
                                <label class="btn btn-outline-primary btn-sm" id="symbol-from-file"
                                    onclick="active_symbol_option_client()">
                                    <input type="radio" name="options" id="symbol-option-client" autocomplete="off"
                                        onchange="symbol_input_switch()">
                                    从文件
                                </label>
                            </div>
                        </span>
                        <div style="display: none;" id="symbol-file-input" class="file-select">
                            <div class="file-loading">
                                <!-- <input id="input-symbol" name="input-symbol" type="file"> -->
                                {{ new_task_form.symbol_from_file(id="input-symbol", type="file") }}
                            </div>
                        </div>
                        <div class="invalid-feedback" id="symbol-file-errors"></div>
                        {% for error in new_task_form.symbol_from_file.errors %}            
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                        <div style="display: block;" id="symbol-file-select" class="file-select">
                            {{ new_task_form.symbol_from_templ(class="custom-select") }}
                        </div>
                        <script>
                            var symbol_option_sever = document.getElementById("symbol-option-sever")
                            var symbol_option_client = document.getElementById("symbol-option-client")
                            var symbol_option_none = document.getElementById("symbol-option-none")
                            var symbol_file_input = document.getElementById("symbol-file-input")
                            var symbol_file_select = document.getElementById("symbol-file-select")
                            function active_symbol_option_sever() {
                                symbol_option_client.style.checked = false;
                                symbol_option_sever.style.checked = true;
                                symbol_option_none.style.checked = false;
                            }
                            function active_symbol_option_client() {
                                symbol_option_client.style.checked = true;
                                symbol_option_sever.style.checked = false;
                                symbol_option_none.style.checked = false;
                            }
                            function symbol_input_switch() {
                                if (symbol_option_sever.checked) {
                                    symbol_file_input.style.display = "none";
                                    symbol_file_select.style.display = "block";
                                }
                                else {
                                    symbol_file_input.style.display = "block";
                                    symbol_file_select.style.display = "none";
                                }
                            }
                            $(document).ready(function () {
                                $("#input-symbol").fileinput({
                                    showPreview: false,
                                    showUpload: false,
                                    elErrorContainer: '#symbol-file-errors',
                                    // allowedFileExtensions: ["xls", "xlsx"]
                                    //uploadUrl: '/site/file-upload-single'
                                });
                            });                            
                        </script>
                    </div>
                    <div class="form-group-lg" style="padding-top: 10px">
                        <span>
                            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-bd-primary btn-sm">
                                    XML文件
                                </label>
                                <label class="btn btn-outline-primary btn-sm active" id="xml-from-templ"
                                    onclick="active_xml_option_sever()">
                                    <input type="radio" name="options" id="xml-option-sever" autocomplete="off" checked
                                        onchange="xml_input_switch()"> 从模板
                                </label>
                                <label class="btn btn-outline-primary btn-sm" id="xml-from-file"
                                    onclick="active_xml_option_client()">
                                    <input type="radio" name="options" id="xml-option-client" autocomplete="off"
                                        onchange="xml_input_switch()"> 从文件
                                </label>
                            </div>
                        </span>
                        <div style="display: none;" id="xml-file-input" class="file-select">
                            <div class="file-loading">
                                <!-- <input id="input-xml" name="input-xml" type="file"> -->
                                {{ new_task_form.xml_from_file(id="input-xml", type="file") }}
                            </div>
                        </div>
                        <!-- <div class="invalid-feedback" id="xml-file-errors"></div> -->
                        {% for error in new_task_form.xml_from_file.errors %}            
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                        <div style="display: block;" id="xml-file-select" class="file-select">
                            <!-- <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelectxml">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    </select>
                                </div>   -->
                            {{ new_task_form.xml_from_templ(class="custom-select") }}
                        </div>
                        <script>
                            var xml_option_sever = document.getElementById("xml-option-sever")
                            var xml_option_client = document.getElementById("xml-option-client")
                            var xml_option_none = document.getElementById("xml-option-none")
                            var xml_file_input = document.getElementById("xml-file-input")
                            var xml_file_select = document.getElementById("xml-file-select")
                            function active_xml_option_sever() {
                                xml_option_client.style.checked = false;
                                xml_option_sever.style.checked = true;
                                xml_option_none.style.checked = false;
                            }
                            function active_xml_option_client() {
                                xml_option_client.style.checked = true;
                                xml_option_sever.style.checked = false;
                                xml_option_none.style.checked = false;
                            }
                            function xml_input_switch() {
                                if (xml_option_sever.checked) {
                                    xml_file_input.style.display = "none";
                                    xml_file_select.style.display = "block";
                                }
                                else {
                                    xml_file_input.style.display = "block";
                                    xml_file_select.style.display = "none";
                                }
                            }
                            $(document).ready(function () {
                                $("#input-xml").fileinput({
                                    showPreview: false,
                                    showUpload: false,
                                    elErrorContainer: '#xml-file-errors',
                                    // allowedFileExtensions: ["xml", "ini"]
                                    //uploadUrl: '/site/file-upload-single'
                                });
                            });                            
                        </script>
                    </div>
                </div>
                <hr>
                <!-- <div class="container">
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-2"> -->
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button> -->
                        <!-- </div> -->
                        <!-- <div class="col-2"> -->
                            {{ new_task_form.save_submit(class="btn btn-primary", type="submit", value="保存") }}
                        <!-- </div>
                    </div>
                </div> -->

            </form>
        </div>
    </div>
</div>

<div class="container-fluid" id="table_all_view" style="display: none">
    <div class="table-responsive">
        <table class="table table-striped table-sm table-bordered table-hover" data-sortable="true">
            <thead class="thead-light">
                <tr>
                    <th class="thead" data-sortable="true">#</th>
                    <th class="thead" data-sortable="true">任务名</th>
                    <th class="thead" data-sortable="true">Bladed版本</th>
                    <th class="thead" data-sortable="true">创建人</th>
                    <th class="thead" data-sortable="true">创建时间</th>
                    <th class="thead" data-sortable="true">任务状态</th>
                </tr>
            </thead>
            <tbody>
                {% for task in all_tasks %}
                <tr>
                    <td><a href="#" target="_blank">{{ task.id }}</a></td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.bladed_version }}</td>
                    <td>{{ task.creator.realname }}</td>
                    <td>{{ task.date_str(task.date_stamp) }}</td>
                    <td class="text-info">{{ task.status }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid" id="table_user_view" style="display: block">
    <div class="table-responsive">
        <table class="table table-striped table-sm table-bordered table-hover" data-sortable="true">
            <thead class="thead-light">
                <tr>
                    <th class="thead" data-sortable="true">#</th>
                    <th class="thead" data-sortable="true">任务名</th>
                    <th class="thead" data-sortable="true">Bladed版本</th>
                    <th class="thead" data-sortable="true">创建人</th>
                    <th class="thead" data-sortable="true">创建时间</th>
                    <th class="thead" data-sortable="true">任务状态</th>
                </tr>
            </thead>
            <tbody>
                {% for task in user_tasks %}
                <tr>
                    <td><a href="#" target="_blank">{{ loop.index }}</a></td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.bladed_version }}</td>
                    <td>{{ task.creator.realname }}</td>
                    <td>{{ task.date_str(task.date_stamp) }}</td>
                    <td class="text-info">{{ task.status }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>



{% endblock content %}