{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<style>
    .thead {
        font-size: 8px;
        font-family: 'Times New Roman', Times, serif;
    }

    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }

    .file-select {
        height: 38px;
    }

    .table {
        height: 500px;
    }
</style>
{% endblock styles %}



{% block flash %}
{% for message in get_flashed_messages() %}
{% if "成功" in message  %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    {{ main_form.all_task_switch.data }}
</div>
{% endif %}
{% endfor %}
{% endblock flash %}

{% block content %}
<header class="navbar navbar-expand-md navbar-dark bd-navbar">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-info"> -->
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
            <span><img src="../static/images/title-logo.png" alt="" height="40">
                <label style="color: white; font-weight: bold"> 定制化控制业务工作台</label>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">

                </li>
                <li class="nav-item">

                </li>
            </ul>
            <!-- <div class="container">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div> -->
            <form class="form-inline my-3 my-lg-0">
                <div class="dropdown">
                    <button class="btn dropdown-toggle btn-bd-download" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.realname }}
                    </button>
                    <div class="dropdown-menu  dropdown-menu-left" aria-labelledby="dropdownMenu2"
                        style="min-width: 100%">
                        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#ProfileModal">
                            <span><i class="fas fa-user" style="color: gray"></i> 个人信息</span>
                        </button>
                        <a class="dropdown-item" href="{{ url_for('auth.reset') }}">
                            <span><i class="fas fa-lock" style="color: gray"></i> 修改密码</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                            <span><i class="fas fa-sign-out-alt" style="color: gray"></i> 注销</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>

<!-- Profile Modal -->
<div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">个人信息 - {{ user.realname }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">总任务数:</label>
                        <input type="text" class="form-control" id="recipient-name"
                            value="{{ user_tasks | list | length }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">用户名：</label>
                        <input type="text" class="form-control" id="recipient-name" value="{{ user.username }}"
                            disabled>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">职位：</label>
                        <input type="text" class="form-control" id="recipient-name" value="{{ user.role }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">电子邮箱：</label>
                        <input type="text" class="form-control" id="recipient-name" value="{{ user.email }}" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<!-- 新建任务 -->
<div class="container-fluid">
    <form class="bd-search d-flex border-bottom-0 align-items-center">
        <button class="btn btn-bd-primary col-auto" type="button" data-toggle="modal"
            data-target="#NewTaskModal">新建任务</button>
        <div class="col-auto"></div>
        <input type="search" class="form-control col" id="search-input" placeholder="查询..." aria-label="Search for..."
            autocomplete="off" data-docs-version="4.3">
        <div class="col-auto"></div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="view_switch" onchange="table_view_switch()">
            <!-- {{ main_form.all_task_switch(type="checkbox", class="custom-control-input",id="customSwitch1") }} -->
            <label class="custom-control-label" for="view_switch">显示所有任务</label>
            <script>
                function table_view_switch() {
                    var view_switch = document.getElementById("view_switch");
                    var table_all_view = document.getElementById("table_all_view")
                    var table_user_view = document.getElementById("table_user_view")
                    if (view_switch.checked) {
                        table_all_view.style.display = "block";
                        table_user_view.style.display = "none";
                    }
                    else {
                        table_all_view.style.display = "none";
                        table_user_view.style.display = "block";
                    }
                }      
            </script>
        </div>
    </form>
</div>
<!-- NewTaskModal -->
<div class="modal fade" id="NewTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold">新建任务</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" enctype="multipart/form-data" id="newtaskform">
                {{ new_task_form.csrf_token }}
                {{ new_task_form.hidden_tag() }}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="task-name" class="col-form-label">
                            <label style="color: red">*</label>
                            任务名:
                        </label>
                        {{ new_task_form.taskname(class="form-control", type="text", id="task-name") }}
                        <div class="invalid-feedback" id="task-name-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="bladed-file-input" class="col-form-label">
                            <label style="color: red">*</label>
                            机组模型:
                        </label>
                        <div id="bladed-file-input">
                            <div class="file-loading">
                                {{ new_task_form.bladed(id="input-bladed")}}
                            </div>
                        </div>
                        <div class="invalid-feedback" id="bladed-file-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="symbol-file-input" class="col-form-label">
                            Symbol表:
                        </label>
                        <div id="symbol-file-input">
                            <div style="display: block;" id="symbol-file-select" class="file-select">
                                {{ new_task_form.symbol(class="custom-select", id="select-ymbol") }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="xml-file-input" class="col-form-label">XML文件:</label>
                        <div id="xml-file-input">
                            <div class="file-loading">
                                {{ new_task_form.xml(id="input-xml")}}
                            </div>
                        </div>
                        <div class="invalid-feedback" id="xml-file-errors"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    {{ new_task_form.save_submit(class="btn btn-primary", type="submit", value="保存") }}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- EditTaskModal -->
<div class="modal fade" id="EditTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-task-modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" enctype="multipart/form-data" id="edittaskform">
                {{ new_task_form.csrf_token }}
                {{ new_task_form.hidden_tag() }}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="task-name" class="col-form-label">
                            <label style="color: red">*</label>
                            任务名:
                        </label>
                        {{ new_task_form.taskname(class="form-control", type="text", id="task-name") }}
                        <div class="invalid-feedback" id="task-name-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="bladed-file-input" class="col-form-label">
                            <label style="color: red">*</label>
                            机组模型:
                        </label>
                        <div id="bladed-file-input">
                            <div class="file-loading">
                                {{ new_task_form.bladed(id="input-bladed")}}
                            </div>
                        </div>
                        <div class="invalid-feedback" id="bladed-file-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="symbol-file-input" class="col-form-label">
                            Symbol表:
                        </label>
                        <div id="symbol-file-input">
                            <div style="display: block;" id="symbol-file-select" class="file-select">
                                {{ new_task_form.symbol(class="custom-select", id="select-ymbol") }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="xml-file-input" class="col-form-label">XML文件:</label>
                        <div id="xml-file-input">
                            <div class="file-loading">
                                {{ new_task_form.xml(id="input-xml")}}
                            </div>
                        </div>
                        <div class="invalid-feedback" id="xml-file-errors"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    {{ new_task_form.save_submit(class="btn btn-primary", type="submit", value="保存") }}
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ALL TASKS -->
<div class="container-fluid" id="table_all_view" style="display: none">
    <div class="table-responsive">
        <table id="all-table" class="table table-striped table-sm table-bordered table-hover" data-sortable="true">
            <thead class="thead-light">
                <tr>
                    <th class="thead" data-sortable="true">#</th>
                    <th class="thead" data-sortable="true">任务名</th>
                    <th class="thead" data-sortable="true">Bladed版本</th>
                    <th class="thead" data-sortable="true">创建人</th>
                    <th class="thead" data-sortable="true">创建时间</th>
                    <th class="thead" data-sortable="true">任务状态</th>
                </tr>
            </thead>
            <tbody>
                {% for task in all_tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.bladed_version }}</td>
                    <td>{{ task.creator.realname }}</td>
                    <td>{{ task.date_str(task.date_stamp) }}</td>
                    <td>
                        <button class="btn btn-light btn-xs" value="test">{{ task.status }}</button>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
<!-- USER'S TASKS -->
<div class="container-fluid" id="table_user_view" style="display: block">
    <div class="table-responsive">
        <table id="user-table" class="table table-striped table-sm table-bordered table-hover" data-pagination=" true"
            data-sortable="true" data-pagination="true" data-page-list="[10, 25, 50, 100, all]" data-show-footer="true"
            data-side-pagination="server">
            <thead>
                <tr>
                    <th class="thead" data-sortable="true">#</th>
                    <th class="thead" data-sortable="true">任务名</th>
                    <th class="thead" data-sortable="true">Bladed版本</th>
                    <th class="thead" data-sortable="true">创建人</th>
                    <th class="thead" data-sortable="true">创建时间</th>
                    <th class="thead" data-sortable="true">任务状态</th>
                    <th class="thead">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for task in user_tasks | reverse %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="{{ url_for('task.work', taskname=task.name) }}" target="_blank">{{ task.name }}</a>
                    </td>
                    <td>{{ task.bladed_version }}</td>
                    <td>{{ task.creator.realname }}</td>
                    <td>{{ task.date_str(task.date_stamp) }}</td>
                    <td>
                        <span class="badge badge-warning" data-toggle="tooltip" title="尚未进行">{{ task.status }}</span>
                    </td>
                    <td>
                        <span class="badge badge-info" data-events="editEvents" style="cursor: pointer">
                            <i class="fas fa-edit"></i>编辑
                        </span>
                        <!-- data-toggle="modal" data-target="#EditTaskModal"  -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var validator;
        validator = $("#newtaskform").validate({
            rules: {
                taskname: {
                    required: true,
                    validateTaskExist: true,
                    validateTaskEmpty: true
                },
                bladed: {
                    required: true
                }
            },
            messages: {          //自定义提示信息
                taskname: {
                    required: "任务名不能为空。"
                },
                bladed: {
                    required: "需要上传风机模型文件。"
                }
            },
            errorPlacement: function (error, element) {      //错误信息的位置
                tasknameerrors = document.getElementById("task-name-errors");
                bladedfileerrors = document.getElementById("bladed-file-errors");
                if (error[0].id == "task-name-error") {
                    $("#task-name-errors").html(error.text());
                    tasknameerrors.style.display = "block";
                } else if (error[0].id == "input-bladed-error") {
                    $("#bladed-file-errors").html(error.text());
                    bladedfileerrors.style.display = "block";
                }
                else {
                    tasknameerrors.style.display = "none";
                    bladedfileerrors.style.display = "none";
                }
            }
        });
        $.validator.addMethod(  //添加自定义验证函数
            "validateTaskExist",       //自定义验证函数的名称
            function (value, element, params) {
                $.ajax({        //发送Ajax请求
                    url: "/task/validate/name_exist",       // 接收远程验证的地址
                    type: "post",
                    dataType: "json",
                    data: {
                        taskname: function () { return $("#task-name").val(); }
                    },
                    success: function (data) {
                        tasknameerrors = document.getElementById("task-name-errors");
                        if (data['exist']) {
                            $("#task-name-errors").html("任务已存在。");
                            tasknameerrors.style.display = "block";
                        } else if (data['empty']) {
                            $("#task-name-errors").html("任务名不能为空。");
                            tasknameerrors.style.display = "block";
                        } else {
                            tasknameerrors.style.display = "none";
                        }
                    }
                });
                return true;
            }
        );
        $.validator.addMethod(  //添加自定义验证函数
            "validateTaskEmpty",       //自定义验证函数的名称
            function (value, element, params) {
                $.ajax({        //发送Ajax请求
                    type: "POST",
                    url: "/task/validate/name_empty",
                    dataType: "json",    //数据类型为json,发回的数据已自动解析
                    data: {
                        taskname: function () { return $("#task-name").val(); }
                    },
                    success: function (data) {
                        tasknameerrors = document.getElementById("task-name-errors");
                        if (!data) {
                            $("#task-name-errors").html("任务名不能为空。");
                            tasknameerrors.style.display = "block";
                        }
                    }
                });
                return true;
            }
        );
    });

    $(document).ready(function () {
        $("#input-bladed").fileinput({
            showPreview: false,
            showUpload: false,
            elErrorContainer: '#bladed-file-errors',
            allowedFileExtensions: ["$pj", "$prj"]
        });
        $("#bladed-file-errors")[0].classList.value = "invalid-feedback";
    });
    $(document).ready(function () {
        $("#input-xml").fileinput({
            showPreview: false,
            showUpload: false,
            elErrorContainer: '#xml-file-errors',
            allowedFileExtensions: ["xml"]
        });
        $("#xml-file-errors")[0].classList.value = "invalid-feedback";
    });

    $(document).ready(function initTable() {
        var $usertable = $('#user-table')
        var $alltable = $('#all-table')
        $usertable.bootstrapTable('destroy').bootstrapTable({
            height: 530,
            columns: [
                {
                    title: "#",
                    field: 'id',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                    class: "thread"                    
                },
                {
                    title: "任务名",
                    field: 'name',
                    align: 'left',
                    valign: 'middle',
                    sortable: true,
                    class: "thread"
                },
                {
                    title: "Bladed版本",
                    field: 'bladed_version',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                    class: "thread"
                },
                {
                    title: "创建人",
                    field: 'creator',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                    class: "thread"
                },
                {
                    title: "创建时间",
                    field: 'date',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                    class: "thread"
                },
                {
                    title: "任务状态",
                    field: 'status',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                    class: "thread"
                },
                {
                    title: "操作",
                    align: 'center',
                    valign: 'middle',
                    class: "thread"
                }
            ]
        })
        $alltable.bootstrapTable('destroy').bootstrapTable({
            height: 530,
            columns: [
                {
                    title: "#",
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                },
                {
                    title: "任务名",
                    align: 'left',
                    valign: 'middle',
                    sortable: true,
                },
                {
                    title: "Bladed版本",
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                },
                {
                    title: "创建人",
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                },
                {
                    title: "创建时间",
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                },
                {
                    title: "任务状态",
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                },
                {
                    title: "操作",
                    align: 'center',
                    valign: 'middle'
                }
            ]
        });
        var data = getData();
        $table.bootstrapTable({data: data})
    });
    function getData(){
        $.ajax({
            type: 'GET',
            url: "/task/table",
            dataType: "json",
            contentType: 'application/json; charset=UTF-8',
            success:function(data){ //成功的话，得到消息
                if (data){
                    return data;
                }else{
                    return {};
                }
            }
        });
        return {};
    }
</script>

{% endblock content %}