<link href="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.css" rel="stylesheet">
<link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="E:/WorkSpace/6_Programming/control_board/app/static/js/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script
    src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/resizable/bootstrap-table-resizable.min.js"></script>

<table class="table" id="table" data-show-columns="true" data-search="true" data-show-toggle="true" data-pagination="true"
    data-url="json/data1.json" data-resizable="true">
    <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="name" data-sortable="true">Item Name</th>
            <th data-field="price" data-sortable="true">Item Price</th>
        </tr>
    </thead>
</table>

<script>
    $(document).ready(function () {
        $('#table').bootstrapTable('destroy').bootstrapTable()
    });

</script>